:root {
    --color-primary: #b761ec;
    --color-secondary: #40e0d0;
    --color-dark: #3c3c3c;
    --color-middle: #acacac;
    --color-light: #e5e5e5;
    --color-white: #ffffff;
}

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-dark);
}

.hidden {
    display: none;
}

.card {
    box-shadow: 0 0 10px var(--color-middle);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.btn-icon {
    height: 40px;
    width: 40px;
    border: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    cursor: pointer;
}

.main-container {
    position: relative;
    height: 700px;
    width: 520px;
    box-shadow: 0 0 20px var(--color-middle);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 100px;
    text-align: center;
    padding-top: 30px;
}
.header input {
    height: 40px;
    width: 240px;
    padding: 0 10px 0 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: var(--color-dark);
    background-color: var(--color-light);
}
.header .btn-icon {
    font-size: 25px;
    color: var(--color-dark);
}

.category {
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
    background-color: var(--color-secondary);
}

.meals {
    height: 500px;
    width: 520px;
    padding: 30px;
}
.meal-card-image {
    height: 340px;
    position: relative;
}
.meal-card-image img{
    height: 340px;
    width: 460px;
    object-fit: cover;
}
.meal-card-image .tag{
    position: absolute;
    top: 30px;
    height: 30px;
    width: 200px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: var(--color-white);
}
.meal-card-body {
    height: 100px;
    padding: 20px;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}
.meal-card-body h4{
    font-size: 20px;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.5px;
    color: var(--color-primary);
}
.meal-card-body .btn-icon {
    font-size: 24px;
    color: var(--color-middle);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-middle);
}
.modal .card {
    height: 100vh;
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    overflow-y: scroll;
    font-size: 18px;
    line-height: 1.7;
    background-color: var(--color-white);
}
.modal .btn-icon {
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: var(--color-dark);
}
.modal .title {
    margin-top: 0;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    color: var(--color-primary);
}

/* Organizar: caja, contenido, fuente, color */